.App {
  font-family: "Rubik-2";
}

::selection {
  background-color: #355f2e;
  color: white;
}

@font-face {
  font-family: "Rubik";
  src: url(fonts/Rubik-Bold.ttf);
}
@font-face {
  font-family: "Rubik-2";
  src: url(fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: "Rubik-3";
  src: url(fonts/Rubik-Light.ttf);
}

.btn {
  box-shadow: none;
  text-transform: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  background: none;
}

.btn:hover {
  color: #355f2e;
  background: none;
}

.btn:focus {
  box-shadow: none !important;
  outline: none;
}

/* Header */

.header-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  align-items: center;
  height: 80px;
  background: #e1eacd;
}

.header-title {
  margin: 0;
  margin-left: 15px;
  font-family: Rubik, Roboto, sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #355f2e;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 30px;
  padding: 20px;
  font-size: 30px;
  font-family: Rubik-2;
  gap: 40px;
}

/* Introduce */

.div-intro {
  height: 70vh;
  align-content: center;
}

.div-div-intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.img {
  height: 600px;
}

.btn-introduce1 {
  margin-right: 20px !important;
  background: #355f2e !important;
  font-family: Rubik-2;
}

.btn-introduce2 {
  background: #355f2e !important;
  font-family: Rubik-2;
}

/* Title */

.section-title {
  font-size: 25px;
  text-transform: none;
  color: #355f2e;
  margin-top: 50px;
}

.section-title2 {
  font-size: 25px;
  text-transform: none;
  color: #355f2e;
}

/* About Us */

.h1-aboutUs {
  margin: 0px;
  margin-top: 50px;
  font-size: 90px;
  color: #00000085;
}

.h2-aboutUs {
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 18px;
}

.div-aboutUs1 {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div-aboutUs2 {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div-aboutUs3 {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutUs {
  margin-top: 10vh;
}

/* Meals */

.div-meals {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1eacd;
  min-height: 80vh;
  padding: 50px;
}

.div-div-meals {
  width: 60%;
}

.h1-meals {
  margin: 0;
  padding: 50px;
  margin-left: 10px;
  font-size: 35px;
  color: #355f2e;
  width: 700px;
}

.span-meals {
  font-size: 25px;
  text-transform: none;
  color: #355f2e;
  margin-left: 2vh;
}

.grid-meals {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.grid-item-div {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background: #f0f0f0;
}

.grid-custom {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.centered-container {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.span-header {
  font-size: 25px;
  text-transform: none;
  color: #355f2e;
  margin-left: 2vh;
}

.img-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

/* Pricing */

.pricing {
  padding: 50px;
}

.h1-pricing {
  margin-left: 200px;
  color: #355f2e;
}

.best-deal-badge {
  position: absolute;
  top: 19px;
  right: -70px;
  background: green;
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  width: 190px;
  transform: rotate(40deg);
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.span-margin {
  margin-right: 8px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  background-color: #e1eacd;
  margin-top: 20vh;
}

/* Responsive */

@media (max-width: 1374px) {
  .btn-join {
    font-size: 20px !important;
  }
}

@media (max-width: 1260px) {
  .div-meals {
    min-height: 100vh;
    display: block;
  }
  .div-div-meals {
    width: 100%;
  }
  .span-meals {
    width: 100%;

    text-align: center;
  }
}
@media (max-width: 1189px) {
  .btn-join {
    font-size: 18px !important;
  }
  .h1-meals {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center !important;
  }
}

@media (max-width: 1096px) {
  .img {
    height: 550px;
  }
}
@media (max-width: 1050px) {
  .img {
    height: 450px;
  }
}

@media (max-width: 1003px) {
  .img {
    height: 700px;
    margin-top: 10vh;
  }
  .aboutUs {
    margin-top: 0;
    padding-top: 50px;
  }
  .div-aboutUs1 {
    height: auto !important;
  }
  .div-aboutUs2 {
    height: auto !important;
  }
  .div-aboutUs3 {
    height: auto !important;
  }

  .div-meals {
    min-height: 10vh !important;
  }
  .h1-pricing {
    text-align: center;
    margin-left: 0;
  }
  .div-intro {
    padding: 50px;
    height: auto !important;
  }
  .div-div-intro {
    display: flex;
    flex-direction: column;
  }

  .h2-aboutUs {
    font-size: 25px;
  }

  .btn-introduce1 {
    font-size: 25px !important;
  }
  .btn-introduce2 {
    font-size: 25px !important;
  }

  .div-meals {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .pricing {
    padding-top: 100px;
  }

  footer {
    height: 20vh;
    margin-top: 10vh;
  }
}
